<div class="container">

    <h5 class="cart-title mb-4">About</h5>

</div>

<div class="container">
    <img src="img/banner.png" class="img-fluid mb-4" alt="Responsive image">
</div>

<div class="container pb-4">

    <p class="text-plain">
        We delivered our first bouquet of flowers in 1979 and haven't slowed down since. Each bouquet from La Provence
        is carefully designed with the lucky recipient in mind.
        With same day or next day delivery available on our beautiful collection of flowers, whatever the reason we
        offer a convenient solution to sending that special gift.
    </p>
    <p class="text-plain">
        La Provence is committed to supporting our growers, dedicating resources to the farming communities across the
        world and choosing US
        growers where possible. We have an extensive range of courier flowers, which are carefully packaged and sent via
        tracked delivery.
        And we are incredibly proud to support our local high streets, working closely who craft and hand-deliver our
        bouquets each day.
    </p>


</div>