<div class="banner">
    <div class="banner-video-wrapper" style="margin: 0">
        <video class="banner-video" src="./img/video.mp4" playsinline autoplay loop muted poster="./img/video-poster.jpg"></video>
    </div>
    <div class="banner-bg-content">
    </div>
    <div class="banner-overlay-content">
        <div class="container">
            <div class="row">
                <div class="col px-4 px-md-3">
                    <div class="banner-logo">
                        <svg fill="#9A7B7B" width="20" height="21" viewBox="0 0 20 21">
                            <use href="#globe"/>
                        </svg>
                        <div class="banner-text ml-3">
                            <small>
                                Take a look at our fresh<br>
                                special offers
                            </small>
                        </div>
                    </div>
                    <div class="h4 banner-heading font-weight-bold">International woman day<br>
                        is coming! We have some<br>
                        great discounts!
                    </div>
                    <button class="btn custom-btn btn-banner">Get them!</button>
                </div>
            </div>
        </div>
    </div>
</div>
