<div class="container text-plain">
    <form method="POST">
        <input name="new_id" type="text" class="form-control" id="bouquetId" value="<?= $bouquetForEdit[0]['bouquet_id']; ?>" hidden>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="bouquetName" class="form-label">Bouquet name</label>
                    <input name="new_name" type="text" class="form-control" id="bouquetName" aria-describedby="bouquetName"
                           value="<?= $bouquetForEdit[0]['bouquet_name']; ?>" required>
                </div>
                <div class="mb-3">
                    <label for="bouquetPrice" class="form-label">Price</label>
                    <input name="new_price" type="number" class="form-control" id="bouquetPrice"
                           aria-describedby="bouquetPrice" value="<?= $bouquetForEdit[0]['bouquet_price']; ?>" required>
                </div>
<!--                <div class="mb-3">-->
<!--                    <label for="bouquetImage" class="form-label">Image</label>-->
<!--                    <input name="new_image" type="text" class="form-control" id="bouquetImage"-->
<!--                           aria-describedby="bouquetImage" value="<?= $bouquetForEdit[0]['bouquet_img']; ?>">-->
<!--                </div>-->
                <div class="form-group">
                    <label for="image" class="form-label">Image</label>
                    <select id="image" name="new_image" class="form-control" aria-label="florist">
                        <? foreach ($images as $image): ?>
                        <option value="<?= $image; ?>"<?= ($image === $bouquetForEdit[0]['bouquet_img']) ? 'selected': ''; ?>>
                        <?= $image ?>
                        </option>
                        <? endforeach; ?>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="bouquetDescription" class="form-label">Description</label>
                    <textarea name="new_description" class="form-control" id="bouquetDescription"
                              rows="3"><?= $bouquetForEdit[0]['bouquet_descr']; ?></textarea>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="florists" class="form-label">Florist</label>
                    <select name="new_florist_id" class="form-control" aria-label="florist">
                        <? foreach ($florists as $florist): ?>
                        <option value="<?= $florist['florist_id'] ?>"
                        <?= ($florist['florist_id'] === $bouquetForEdit[0]['bouquet_florist_id']) ? 'selected': ''; ?>>
                        <?= $florist['florist_name'] ?>
                        </option>
                        <? endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="colors" class="form-label">Color</label>
                    <select name="new_color_id" class="form-control" aria-label="color">
                        <? foreach ($colors as $color): ?>
                        <option value="<?= $color['color_id'] ?>"
                            <?= ($color['color_id'] === $bouquetForEdit[0]['bouquet_color_id']) ? 'selected': ''; ?>>
                            <?= $color['color_name'] ?>
                        </option>
                        <? endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sizes" class="form-label">Size</label>
                    <select name="new_size_id" class="form-control" aria-label="size">
                        <? foreach ($sizes as $size): ?>
                        <option value="<?= $size['size_id'] ?>"
                        <?= ($size['size_id'] === $bouquetForEdit[0]['bouquet_size_id']) ? 'selected': ''; ?>>
                                <?= $size['size_name'] ?>
                        </option>
                        <? endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="categories" class="form-label">Category</label>
                    <select name="new_category_id" class="form-control" aria-label="category">
                        <? foreach ($categories as $category): ?>
                        <option value="<?= $category['category_id'] ?>"
                        <?= ($category['category_id'] === $bouquetForEdit[0]['bouquet_category_id']) ? 'selected': ''; ?>>
                        <?= $category['category_name'] ?>
                        </option>
                        <? endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
