<!--div style="background-image: url('img/bg_222.jpg'); background-repeat: repeat;"-->
<!--<div style="background: #fff;">-->
<div class="container cards" style="font-size: 14px">
    <div id="out" style="margin-left: 0; margin-right: 0"
         class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-sm-0 mx-md-auto">

<?php foreach($bouquets as $bouquet): ?>
        <div class="col p-2"
             data-color="<?= $bouquet['bouquet_color_id'] ?>"
             data-size="<?= $bouquet['bouquet_size_id'] ?>"
             data-category="<?= $bouquet['bouquet_category_id'] ?>"
             data-price="<?
                if( $bouquet['bouquet_price'] < 30 ): ?>0<?
                elseif($bouquet['bouquet_price'] >= 30 && $bouquet['bouquet_price'] < 70): ?>1<?
                elseif($bouquet['bouquet_price'] >= 70 && $bouquet['bouquet_price'] < 150): ?>2<?
                elseif($bouquet['bouquet_price'] >= 150 && $bouquet['bouquet_price'] < 300): ?>3<?
                elseif($bouquet['bouquet_price'] >= 300): ?>4<? endif; ?>">
            <div class="card">
                <img class="card-img-top" src="img/bouquets/<?= $bouquet['bouquet_img']; ?>" alt="Card image cap">
                <div class="card-body pb-4">
                    <div class="card-subtitle mb-3" style="font-size: .75rem; color: lightgrey">
                        color: <?= $bouquet['color_name'] ?><br>
                        size: <?= $bouquet['size_name'] ?><br>
                        category: <?= $bouquet['category_name'] ?></div>
                    <h5 class="card-title"><?= $bouquet['bouquet_name']; ?></h5>
                    <div class="card-price-count">
                        <div class="font-weight-bold card-price">
                            <span style="line-height: 1.7;"><?= $bouquet['bouquet_price']; ?>$</span>
                        </div>
                        <? if(isAuthorized()): ?>
                        <div>
                            <? if( checkIfAlreadyInFavorites($bouquet['id'], $_COOKIE['user_id']) ): ?>
                                <i style="font-size: 1.2rem; line-height: 40px; margin-top: 2px" class="fa fa-heart card-like" onclick="favoritesAddRemove(<?= $bouquet['id']; ?>, <?= $_COOKIE['user_id']; ?>)"></i>
                            <? else: ?>
                                <i style="font-size: 1.2rem; line-height: 40px; margin-top: 2px" class="fa fa-heart-o card-like" onclick="favoritesAddRemove(<?= $bouquet['id']; ?>, <?= $_COOKIE['user_id']; ?>)"></i>
                            <? endif; ?>
                        </div>
                        <? endif; ?>
<!--                        <div class="mt-2">                             -->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">-->
<!--                                <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>-->
<!--                            </svg>-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">-->
<!--                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="card-count">-->
<!--                            <button type="button" class="card-count_btn"><i class="fa fa-minus"></i></button>-->
<!--                            <div class="card-count_num">0</div>-->
<!--                            <button type="button" class="card-count_btn"><i class="fa fa-plus"></i></button>-->
<!--                        </div>-->
                    </div>
                    <div class="card-descr">
                    <p class="card-text"><?= $bouquet['bouquet_descr']; ?></p>
                    <!--p class="card-text"><small class="text-muted">Added 3 mins ago</small></p-->
                    </div>
                    <button class="btn custom-btn card-btn" onclick="addToCart(<?= $bouquet['id']; ?>)">
                        <? if(!$bouquetsCart): ?>
                        Add to cart
                        <? else: ?>
                                <? if( bouquetExistInCart( $bouquet['id'], $bouquetsCart ) ): ?>
                                    <? foreach($bouquetsCart as $bouquet_in_cart): ?>
                                        <? if($bouquet['id'] === $bouquet_in_cart['bouquet_id']): ?>
                                        In cart: <?= $bouquet_in_cart['bouquet_quantity']; ?>
                                        <? endif; ?>
                                    <? endforeach; ?>
                                <? else: ?>
                                Add to cart
                            <? endif; ?>
                        <? endif; ?>
                    </button>
<!--                    <a href="#" class="btn custom-btn card-btn">Add to cart</a>-->
                </div>
            </div>
        </div>
<? endforeach; ?>

    </div>
</div>