<div class="container">

    <h5 class="cart-title mb-4">Contact Us</h5>

</div>

<div class="container text-plain">

    <p>
        If you would like to know more about anything that we offer, please contact us using the details below.
    </p>

    <h6><b>Address</b></h6>
    <address>
        37 Fake Main Avenue<br>
        Old Valley<br>
        Fakecity<br>
        NB4
    </address>

    <h6><b>Email</b></h6>
    <address>
        fake@email.com
    </address>

    <h6><b>Phone</b></h6>
    <address>
        +7 (000) 000-00-00
    </address>

    <h6><b>Opening Times</b></h6>
    <p>
        Monday to Friday: 9am - 6pm<br>
        Saturday: 9am - 5pm<br>
        Sunday: 11am - 3pm
    </p>

    <form class="form" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="feedbackName" class="form-label">name</label>
                        <input class="form-control" type="text" name="feedbackName" id="feedbackName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="feedbackEmail" class="form-label">email</label>
                        <input class="form-control" type="email" name="feedbackEmail" id="feedbackEmail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="feedbackPhone" class="form-label">phone</label>
                        <input class="form-control" type="text" name="feedbackPhone" id="feedbackPhone">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="comment" class="form-label">comment</label>
                        <textarea name="comment" class="form-control" id="comment" rows="6">
			            </textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-primary mb-4" type="submit">Send</button>
    </form>


</div>
