<div class="container">
    <div class="cart-header">
        <h5 class="cart-title">Error</h5>
    </div>
</div>

<div class="container mb-4">
    <!-- error -->
        <div class="card card-accordion text-center">
            <div class="card-header text-muted">
            </div>
            <div class="card-body">
<!--                <h5 class="card-title"></h5>-->
                <p class="card-text"><span class="text-danger"><?= $_GET['err'] ?></span></p>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
</div>
