<div class="container">

    <h5 class="cart-title mb-4">Feedback</h5>

</div>

<div class="container text-plain">

    <form class="form" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="feedbackName" class="form-label">name</label>
                        <input class="form-control" type="text" name="feedbackName" id="feedbackName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="feedbackEmail" class="form-label">email</label>
                        <input class="form-control" type="email" name="feedbackEmail" id="feedbackEmail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="feedbackPhone" class="form-label">phone</label>
                        <input class="form-control" type="text" name="feedbackPhone" id="feedbackPhone">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="comment" class="form-label">comment</label>
                        <textarea name="comment" class="form-control" id="comment" rows="6">
			            </textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-primary mb-4" type="submit">Send</button>
    </form>


</div>
