<div class="container">
    <h5 class="cart-title mb-4"><?= $florist[0]['florist_name'] ?></h5>
</div>

<div class="container">

    <!-- admin page -->
<p class="text-plain">This is table of all boquets designed by <?= $florist[0]['florist_name'] ?></p>

                <table class="table mt-4 table-responsive">
                    <thead>
                    <tr>
                        <th class="text-plain">image</th>

                        <th>name</th>
                        <th>description</th>


                    </tr>
                    </thead>
                    <tbody>
                    <? foreach($florist as $bouquet): ?>
                    <tr>
                        <td>
                            <img style="width: 120px" src="img/bouquets/<?= $bouquet['bouquet_img'] ?>"/>
                        </td>

                        <td>
                            <?= $bouquet['bouquet_name'] ?>
                        </td>
                        <td>
                            <?= $bouquet['bouquet_descr'] ?>
                        </td>


                    </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>

</div>