<footer>
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-menu-header">About&nbsp;Flowershop</div>
                    <ul class="footer-column">
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?delivery_areas">Delivery&nbsp;areas</a>
                        </li>
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?careers">Careers</a>
                        </li>
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?history">History</a>
                        </li>
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?sitemap">Sitemap</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="footer-menu-header">Support</div>
                    <ul class="footer-column">
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?substitution">Substitution&nbsp;policy</a>
                        </li>
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?refund">Refund&nbsp;policy</a>
                        </li>
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?suggestions">Suggestions</a>
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <div class="footer-menu-header">Legal</div>
                    <ul class="footer-column">
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?privacy">Privacy&nbsp;statement</a>
                        </li>
                        <li class="footer-menu-item">
                            <a class="footer-link" href="about_support_legal.php?terms">Terms&nbsp;of&nbsp;Service</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <!--div class="col"-->
                <div class="footer-legal">
                    <svg class="footer-logo" width="29" height="22" viewBox="0 0 29 22" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="flower-small">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14.5149 20.9559C14.4495 20.9921 14.3832 21.0279 14.3162 21.0634C14.2603 21.031 14.2049 20.9983 14.1501 20.9655C9.59242 16.2634 11.2688 11.1119 14.3278 6.91003C17.3848 11.1091 19.061 16.2564 14.5149 20.9559ZM14.3278 21.1109C14.3372 21.1131 14.3466 21.1153 14.356 21.1175C14.3617 21.1117 14.3675 21.106 14.3732 21.1002C14.3581 21.1038 14.343 21.1074 14.3278 21.1109ZM14.2825 21.1002C14.2855 21.1033 14.2886 21.1064 14.2917 21.1094L14.2997 21.1175C14.3091 21.1153 14.3185 21.1131 14.3278 21.1109C14.3127 21.1074 14.2976 21.1038 14.2825 21.1002Z"
                              fill="#FFD9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.6797 4.11438C15.8612 4.99196 15.0556 5.94244 14.3282 6.94691C13.6365 5.99179 12.8741 5.08547 12.0971 4.24423C12.8337 2.84158 13.6311 1.55057 14.3576 0.450684C15.1613 1.53956 15.9629 2.78265 16.6797 4.11438ZM14.3735 21.2121C23.7937 18.9567 22.3298 7.95522 19.6703 1.21289C18.7372 2.04283 17.6984 3.02214 16.6797 4.11438C19.7817 9.87752 21.2953 17.3005 14.5152 21.067C14.4686 21.1154 14.4214 21.1638 14.3735 21.2121ZM14.3282 21.2229C14.3375 21.2251 14.3469 21.2273 14.3563 21.2295C14.362 21.2237 14.3678 21.2179 14.3735 21.2121C14.3584 21.2157 14.3433 21.2193 14.3282 21.2229ZM14.2828 21.2121C14.2381 21.167 14.1939 21.1219 14.1504 21.0767C7.26503 16.9311 9.21492 9.73293 12.0971 4.24423C11.04 3.09968 9.95589 2.07558 8.98598 1.21289C6.32649 7.95522 4.86256 18.9567 14.2828 21.2121ZM14.2828 21.2121C14.2858 21.2152 14.2889 21.2183 14.292 21.2214L14.3 21.2295C14.3094 21.2273 14.3188 21.2251 14.3282 21.2229C14.313 21.2193 14.2979 21.2157 14.2828 21.2121Z"
                              fill="#FFD9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14.4859 21.272C20.0329 22.1589 21.5486 20.1786 22.9701 18.3213C23.0622 18.201 23.1539 18.0812 23.2462 17.9628C23.6862 17.3985 24.036 16.917 24.3311 16.5109C25.1946 15.3225 25.5891 14.7795 26.4008 14.6956C27.074 14.6259 27.8586 14.9603 28.5344 15.3654C28.515 15.3486 28.4951 15.3312 28.4745 15.3132C27.882 14.796 26.8037 13.8549 25.5746 13.982C24.4855 14.0947 24.2226 14.2073 22.0069 16.6484C21.7609 16.9194 21.5236 17.1895 21.2901 17.4553C19.4562 19.5424 17.86 21.3591 14.1956 21.1925C14.2374 21.2039 14.2805 21.2157 14.3248 21.2279C14.3769 21.2422 14.4306 21.2569 14.4859 21.272Z"
                              fill="#FFD9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M24.5148 17.7104C23.9569 18.3404 23.34 19.0368 22.5863 19.7254C19.5183 22.5288 16.1131 21.7109 14.3457 21.232C19.9222 22.1189 21.446 20.1386 22.875 18.2814C22.9676 18.1611 23.0598 18.0413 23.1526 17.9228C23.5949 17.3585 23.9467 16.8771 24.2433 16.471C25.1114 15.2825 25.508 14.7396 26.3241 14.6556C27.0009 14.5859 27.7897 14.9204 28.4691 15.3255C28.4715 15.3275 28.4738 15.3296 28.4761 15.3316C26.8085 15.1209 25.8236 16.2329 24.5148 17.7104Z"
                              fill="#FFD9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14.0485 21.272C8.50155 22.1589 6.98581 20.1786 5.56433 18.3213C5.47225 18.201 5.38057 18.0812 5.28821 17.9628C4.84825 17.3985 4.49841 16.917 4.20334 16.5109C3.33982 15.3225 2.94534 14.7795 2.13362 14.6956C1.4604 14.6259 0.675812 14.9603 4.673e-05 15.3654C0.0194063 15.3486 0.0393639 15.3312 0.0599051 15.3132C0.652464 14.796 1.73076 13.8549 2.95983 13.982C4.04891 14.0947 4.3118 14.2073 6.52752 16.6484C6.77349 16.9194 7.01085 17.1895 7.24435 17.4553C9.07821 19.5424 10.6745 21.3591 14.3389 21.1925C14.297 21.2039 14.2539 21.2157 14.2096 21.2279C14.1576 21.2422 14.1038 21.2569 14.0485 21.272Z"
                              fill="#FFD9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4.01959 17.7104C4.57757 18.3404 5.19441 19.0368 5.94811 19.7254C9.01616 22.5288 12.4213 21.7109 14.1887 21.232C8.61227 22.1189 7.08844 20.1386 5.65938 18.2814C5.56681 18.1611 5.47464 18.0413 5.38179 17.9228C4.93948 17.3585 4.58777 16.8771 4.29113 16.471C3.42299 15.2825 3.0264 14.7396 2.21035 14.6556C1.53349 14.5859 0.744661 14.9204 0.0652607 15.3255C0.0629299 15.3276 0.0606068 15.3296 0.0582932 15.3316C1.72589 15.1209 2.71084 16.2329 4.01959 17.7104Z"
                              fill="#FFD9D9"/>
                        </g>
                    </svg>
                    <div class="footer-text py-2 px-3">
                        Flowershop trade mark and logo is a property of World Wide Company
                        All rights reserved. Any commercial or unauthorized use - prohibited.
                    </div>
                    <ul class="socials">
                        <li class="socials-item">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li class="socials-item">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </li>
                        <li class="socials-item">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </li>
                        <li class="socials-item">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </li>
                    </ul>

                </div>
                <!--/div-->
                <div class="footer-line"></div>
                <div class="footer-company-name">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="#FFD9D9" xmlns="http://www.w3.org/2000/svg">
                        <g id="globe">
                            <path d="M13.125 6.75H6.25C6.53646 4.97917 6.99219 3.54688 7.61719 2.45312C8.24219 1.35938
                        8.93229 0.8125 9.6875 0.8125C10.4427 0.8125 11.1328 1.35938 11.7578 2.45312C12.3828 3.54688
                        12.8385 4.97917 13.125 6.75ZM6.05469 13C5.97656 12.1667 5.9375 11.3333 5.9375 10.5C5.9375
                        9.66667 5.97656 8.83333 6.05469 8H13.3203C13.3984 8.83333 13.4375 9.66667 13.4375 10.5C13.4375
                        11.3333 13.3984 12.1667 13.3203 13H6.05469ZM18.6328 6.75H14.4141C14.0234 4.35417 13.3724 2.50521
                        12.4609 1.20312C13.8411 1.61979 15.0651 2.32292 16.1328 3.3125C17.2266 4.27604 18.0599 5.42188
                        18.6328 6.75ZM6.91406 1.20312C5.97656 2.50521 5.32552 4.35417 4.96094 6.75H0.742188C1.3151
                        5.42188 2.13542 4.27604 3.20312 3.3125C4.29688 2.32292 5.53385 1.61979 6.91406 1.20312ZM19.0234
                        8C19.2578 8.83333 19.375 9.66667 19.375 10.5C19.375 11.3333 19.2578 12.1667 19.0234
                        13H14.5703C14.6484 12.1406 14.6875 11.3073 14.6875 10.5C14.6875 9.69271 14.6484 8.85938 14.5703
                        8H19.0234ZM4.6875 10.5C4.6875 11.2812 4.72656 12.1146 4.80469 13H0.351562C0.117188 12.1406 0
                        11.3073 0 10.5C0 9.69271 0.117188 8.85938 0.351562 8H4.80469C4.72656 8.85938 4.6875 9.69271
                        4.6875 10.5ZM6.25 14.25H13.125C12.8385 16.0208 12.3828 17.4531 11.7578 18.5469C11.1328 19.6406
                        10.4427 20.1875 9.6875 20.1875C8.93229 20.1875 8.24219 19.6406 7.61719 18.5469C6.99219 17.4531
                        6.53646 16.0208 6.25 14.25ZM12.4609 19.7969C13.3984 18.4948 14.0495 16.6458 14.4141
                        14.25H18.6328C18.0599 15.5781 17.2266 16.737 16.1328 17.7266C15.0651 18.6901 13.8411 19.3802
                        12.4609 19.7969ZM0.742188 14.25H4.96094C5.35156 16.6458 6.0026 18.4948 6.91406 19.7969C5.53385
                        19.3802 4.29688 18.6901 3.20312 17.7266C2.13542 16.737 1.3151 15.5781 0.742188 14.25Z"
                            />
                        </g>
                    </svg>
                    &nbsp;World&nbsp;Wide&nbsp;Company&nbsp;&nbsp;2020
                </div>
            </div>
        </div>
    </div>
</footer>

<!--<script src="js/jquery-3.5.1.min.js"></script>-->
<!--<script src="js/popper.min.js"></script>-->
<!--<script src="js/bootstrap.bundle.min.js"></script>-->
</body>
</html>
