<div class="container">
    <div class="cart-header">
        <h5 class="cart-title">Order details</h5>
    </div>
</div>

<div class="container mb-4">
    <!-- error -->
        <div class="card card-accordion text-center">
            <div class="card-header text-muted">
            </div>
            <div class="card-body">
                <h5 class="card-title text-success mb-4">Well done!</h5>
                <p class="card-text"><span class="text-success">Your order id is: <?= $order_id ?></span></p>
                <p class="card-text"><span class="text-success">We will call you by given telephone number <?= $user_phone ?>, to confirm order and discuss details ASAP!</span></p>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
</div>
