<nav class="container">
    <div class="row">
        <div class="col px-0 px-md-3">
            <nav class="navbar navbar-expand-sm navbar-light px-0">
                <button class="navbar-toggler mx-auto mb-2" style="border-color: white" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <div class="nav-hamburger">
                        <div class="nav-hamburger-line"></div>
                        <div class="nav-hamburger-line"></div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav mb-4 mb-md-3 mx-3 mx-md-0">
                        <li class="nav-item">
                            <a href="index.php" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="delivery.php" class="nav-link">Delivery</a>
                        </li>
                        <li class="nav-item">
                            <a href="payment.php" class="nav-link">Payment</a>
                        </li>
                        <li class="nav-item">
                            <a href="contacts.php" class="nav-link">Contact Us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle"
                               id="navbarInfo" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Info
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarInfo">
                                <a class="dropdown-item" href="qa.php">Q & A</a>
                                <a class="dropdown-item" href="about.php">About Us</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle"
                               id="navbarFlorists" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Florists
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarFlorists">
                                <a class="dropdown-item" href="allflorists.php">All</a>
                                <? foreach($florists as $florist): ?>
                                <a class="dropdown-item"
                                   href='florist.php?id=<?= $florist["florist_id"] ?>'><?= $florist['florist_name'] ?></a>
                                <? endforeach; ?>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="feedback.php" class="nav-link">Feedback</a>
                        </li>
                        <? if(isAdmin()): ?>
                        <li class="nav-item">
                            <a href="admin.php" class="nav-link">Admin</a>
                        </li>
                        <? endif ?>
                        <? if(isAuthorized()): ?>
                        <li class="nav-item">
                            <a href="cabinet.php" class="nav-link" style="font-weight: bold; white-space: nowrap">Profile & settings</a>
                        </li>
                        <? endif ?>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</nav>