<div class="container">

    <h5 class="cart-title mb-4">Payment</h5>

</div>

<div class="container text-plain">
	<h6><strong>Payment by card online</strong></h6>
		<p>
			In case the order is raised and confirmed, our system will point you directly to the payment gate of the bank where you will input necessary 
			information about the bank card. You will receive an email with the status of your payment. This way of payment is fast and convenient. 
			We will deliver the bouquet on the same day when you raise the order. When paying by card, all information is confidential as the payment 
			via internet is secure.
		</p>
		<p>
			In case the order is raised and confirmed, our system will point you directly to the payment gate of the bank where you will input necessary 
			information about the bank card. You will receive an email with the status of your payment. This way of payment is fast and convenient. 
			We will deliver the bouquet on the same day when you raise the order. When paying by card, all information is confidential as the payment via internet is secure. 			
		</p>
		<p>
			My card payment didn’t go through, what shall I do?
		</p>
		<p>
			In the event your card payment didn’t go through, it can be due to a few reasons; the problem isn’t often 
			on our side but you can have the following problems with your card:
		</p>
		<p>
			The payment system may be overloaded; therefore you can make the order again.		
		</p>
		<p>
			The card may not be suitable for Internet payments.		
		</p>
		<p>
			Payment by card can be assessed by a bank as a transaction that is not credible but this typically happens 
			in case of customers living outside the US who pay into the US; therefore, the bank can refuse the payment.		
		</p>
		<p>
			Insufficient amount of funds on your account
		</p>
		<p>
			In case the payment didn’t go through for any of the aforementioned reasons, it is not a problem to pay by 
			transfer based on payment details which were sent automatically to your email and then email us a confirmation about 
			the payment, possibly make a print screen of the monitor which shows the transaction. Based on this confirmation your 
			order will be arranged.
		</p>

	<h6><strong>Payment by paypal</strong></h6>
		<p>
			You can pay from your PayPal account, all the information needed for payment we send to your email address upon order completion.
		</p>

	<h6><strong>Payment by bank transfer</strong></h6>
		<p>
			In case of a bank transfer you will receive complete details about the transfer to your email address you have given. 
			As the only company, we do not require the payment to be credited to our account before the bouquet delivery; 
			it is sufficient if you email the confirmation about your bank payment to fake@email.com; 
			based on that confirmation we will deliver the bouquet to the address as required by you. Thanks to this we are able to 
			deliver the bouquet even on the same day of raising the order.
		</p>

	<h6><strong>Payment cash into our account</strong></h6>
		<p>
			In case you choose to deposit cash into our account, select payment by transfer when raising the order. 
			After closing the order you will receive full details for making the payment. You can deposit cash in any branch of the Czech Savings Bank 
			to our account. After depositing the cash, you can call us on +7 (000) 000-00-00. We immediately check the payment on our 
			account and then there is nothing preventing us from delivering the bouquet to the address as requested by you as per your order
		</p>

	<h6><strong>Invoice payment</strong></h6>
		<p>
			Payment by invoice can be done after a previous agreement with our operator on: +7 (000) 000-00-00
		</p>

</div>