<div class="container">

    <h5 class="cart-title mb-4">Terms & Conditions</h5>

</div>

<div class="container">
    <div class="accordion mb-4" id="accordionAdmin">

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse1"
                        aria-expanded="false" aria-controls="collapse1">
                    [+] Will the recipient know who sent the flowers?
                </button>
            </h6>
            <div id="collapse1" class="collapse px-3" aria-labelledby="headingOne" data-parent="#accordionAdmin">
                <p>
                    When your delivery arrives the lucky recipient will receive the flowers, any additional items
                    purchased
                    (such as chocolates or teddy bears) and the card message* We ensure that no documents are delivered
                    with
                    the gift as this may detract from the intended sentiment. As such, when writing your card message,
                    please be aware that if no name is included, the recipient will not know who the flowers are from
                    and
                    the delivery will be completely anonymous.<br>
                    This may be your intention for a romantic occasion such as Valentine's Day. If the recipient
                    contacts
                    us to find out who sent the flowers, we will not release any information without your permission and
                    will contact you to confirm if it would be acceptable to yourself to provide such details.
                    This is due to GDPR. *Please note, for courier and postal orders, the card message is attached to
                    the delivery information on the outside of the box.
                </p>
            </div>
        </div>

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse2"
                        aria-expanded="false" aria-controls="collapse2">
                    [+] Can I place an order if I live outside the US?
                </button>
            </h6>
            <div id="collapse2" class="collapse px-3" aria-labelledby="collapse2" data-parent="#accordionAdmin">
                <p>
                    If the address to which you would like to send flowers is in the US and has a US postcode you can
                    place
                    your order from anywhere in the world.<br>
                    Unfortunately as flowers are a perishable item we are unable to deliver to PO Boxes or BFPO
                    addresses.<br>
                    All of the prices on our website are in USD $ and the conversion will be done at the rate
                    specified by your card provider.
                </p>
            </div>
        </div>

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse3"
                        aria-expanded="false" aria-controls="collapse3">
                    [+] What happens if the recipient is not at home?
                </button>
            </h6>
            <div id="collapse3" class="collapse px-3" aria-labelledby="collapse3" data-parent="#accordionAdmin">
                <p>
                    Should the person you are sending flowers to not be at home at the time of delivery, there are three
                    options
                    on how to proceed. If the flowers are delivered by courier, they will seek to leave
                    the
                    flowers with a neighbour or trustee, or alternatively they will leave the flowers in a safe place,
                    out
                    of sight of passers-by and will post a calling card, detailing the delivery to the recipient to
                    ensure
                    the safe arrival. In the event there is nobody present and nowhere safe to leave the flowers, they
                    will
                    be returned to the shop. A calling card may be left advising the recipient
                    to
                    contact the courier to organise a re-delivery or a collection. Our florist delivered
                    bouquets follow a similar procedure, however, if a telephone number has been provided our florist
                    can
                    contact the recipient to see if they are nearby or available to take the delivery. They can also
                    leave a
                    message to organise a delivery at a time that suits them or to advise them of the location of the
                    flowers,
                    whether they have been left in a safe place or if they have been returned to the shop.
                </p>
            </div>
        </div>

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse4"
                        aria-expanded="false" aria-controls="collapse4">
                    [+] How much is delivery?
                </button>
            </h6>
            <div id="collapse4" class="collapse px-3" aria-labelledby="collapse4" data-parent="#accordionAdmin">
                <p>
                    Delivery is included in the cost of the bouquet, however, we do charge a service fee. This covers
                    our
                    handling of your order and may vary based on the date of delivery (such as Valentine's and Mother’s
                    Day.)
                    For the most up to date service fees please visit the products page.
                </p>
            </div>
        </div>

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                    [+] Delivery Times
                </button>
            </h6>
            <div id="collapse5" class="collapse px-3" aria-labelledby="collapse5" data-parent="#accordionAdmin">
                <p>
                    We understand you will be keen to know when the recipient will be receiving the flowers you've
                    kindly
                    bought for them. Due to the majority of our flowers being delivered by our professional local
                    florists,
                    we don't offer a live tracking service but our Customer Service team is on hand to help.<br>
                    <br>
                    We advise that our deliveries take place between 09.00 and 21.00, there may be slight delays
                    sometimes
                    due to traffic and such. Every effort will be made to make deliveries for workplaces and offices
                    during working hours for our florist delivered products, however, we have no control over the
                    delivery
                    times of our courier delivered flowers and advise they will be delivered between the delivery times
                    above.
                </p>
            </div>
        </div>

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                    [+] How will I know if my order has been successful?
                </button>
            </h6>
            <div id="collapse6" class="collapse px-3" aria-labelledby="collapse6" data-parent="#accordionAdmin">
                <p>
                    When you place your order online, the website will confirm that your order has been placed and will
                    display an overview of the details provided. Shortly after this, you will receive an automated email
                    confirmation from La Provence with the reference number to keep for your records.<br>
                    If your order is placed by telephone, the advisor you speak to will provide an order ID and can
                    email
                    the confirmation to you if you desire.
                </p>
            </div>
        </div>


        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                    [+] How can I cancel or amend an order?
                </button>
            </h6>
            <div id="collapse7" class="collapse px-3" aria-labelledby="collapse7" data-parent="#accordionAdmin">
                <p>
                    We ask for a minimum of 24hours notice to make any changes. If you are requesting any changes on the
                    date of delivery or the date before, we will make every effort though we can't guarantee this.</p>
                <p>
                    Over busy periods (Christmas, Valentine's Day &amp; Mother's Day), we work super-fast to arrange and
                    despatch orders for delivery. Please note that this means we will not always be able to cancel or
                    make
                    amendments to orders. Please, can you double check your order prior to payment to avoid any mistakes
                    and subsequent disappointment this may cause.
                </p>
            </div>
        </div>

        <div class="card card-accordion">
            <h6 class="my-3">
                <button class="btn btn-accordion text-left pl-4 collapsed" data-toggle="collapse"
                        data-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                    [+] Can you guarantee delivery dates?
                </button>
            </h6>
            <div id="collapse8" class="collapse px-3" aria-labelledby="collapse8" data-parent="#accordionAdmin">
                <p>
                    You can select delivery dates online when choosing your flowers. We agree to use all reasonable
                    endeavours to ensure that delivery will be on the requested delivery date for florist delivered
                    products.
                </p>
            </div>
        </div>

    </div>
</div>