<div class="container">

    <h5 class="cart-title mb-4">Careers</h5>

</div>


<div class="container text-plain mb-5">
    <p>
    La Provence is always looking for talented, hard working people to join our team.
    </p>
    <p>
    If you have what it takes, check our Current Openings below or stop by any of our stores and fill out an application today.
    </p>
    <p>
    Be sure to check back frequently as opportunities change daily.
    </p>
    <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain
    </p>
    <ul>
        <li>Firts magnificent job offer</li>
        <li>Second unimaginable job offer</li>
        <li>Third managment position</li>
        <li>The President of The WORLD</li>
        <li>Dark mage and his vassals</li>
        <li>Wicked gamer and collector</li>
    </ul>

</div>