<div class="container">

    <h5 class="cart-title mb-4">Delivery Areas</h5>

</div>


<div class="container text-plain">

    <p>
        To send flowers online is a fast and convenient way of having flowers delivered to a friend, family member, loved one or even a colleague for a special occasion or perhaps ‘just because’.
        La Provence is the new trading name for Flowershop, a name which has long been synonymous with sending flowers and quality florists for many, many years.
        We have been helping people make their friends, family, colleagues and loved ones happy, noticed and remembered since 1979, and have long been the leading flower retail company
        so if you are looking for a florist near you, you can be as confident in the service you will receive as we are confident in our name.
    </p>
    <p>
        The flowers delivered by our local florists are the finest and freshest flowers and the bouquets are personally prepared and hand created meaning our same day flowers delivered
        and our next day flower delivery service is unrivalled in quality, our efficiency is something that our customers return to again and again.
    </p>
    <p>
        We send flowers all over the US and can even send bouquets internationally. With our experience in sending flowers spanning more than 40 years, you can rest assured that
        as soon as you have decided which flowers delivered would be best received, your order will be handled swiftly, safely and efficiently.
    </p>
    <p>
        Flowers delivered by a courier are available for delivery within US only. Vase not included unless otherwise stated. The delivery fee is from 5$ for this item.
    </p>

</div>