<div class="container">

    <h5 class="cart-title mb-4">Privacy statement</h5>

</div>


<div class="container text-plain mb-5">
    <h6>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h6>
    <p>
        When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
        When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
        Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.
    </p>
    <h6>SECTION 2 - CONSENT</h6>
    <p>
        How do you get my consent?
        When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
        If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
    </p>
    <h6>SECTION 3 - DISCLOSURE</h6>
    <p>
        We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
    </p>
    <h6>SSECTION 4 - SHOPIFY</h6>
    <p>
        Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.
        Your data is stored through Shopify’s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall.
    </p>
    <h6>SECTION 5 - THIRD-PARTY SERVICES</h6>
    <p>
        In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
        However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
        For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
        In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
        As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.
        Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
    </p>

</div>