<div class="container">

    <h5 class="cart-title mb-4">Refund</h5>

</div>


<div class="container text-plain">

    <p>
        We will happily replace your Flowers by Sauchas purchase or give you store credit if you are not completely satisfied.
    </p>
    <p>
        We require you to do only the following:
    </p>
    <p>
        Return the product<br>
        Provide a receipt<br>
        Notify us the same day<br>
    </p>
    <p>
        Vestibulum eu mi vehicula, tincidunt ligula sed, vulputate eros. Nulla eros risus, fringilla et elit sed, lobortis viverra enim. In convallis leo sed pharetra venenatis. In elementum feugiat purus quis pretium. Fusce bibendum sem ac turpis vehicula, non porttitor mi tincidunt. Mauris facilisis enim sed finibus iaculis. Quisque venenatis porta massa eu hendrerit.
    </p>
    <p>
        Quisque eleifend suscipit justo, nec tempus ante feugiat vel. Mauris bibendum luctus arcu vulputate dapibus. Sed pretium volutpat magna. Cras nulla ex, tincidunt viverra faucibus vitae, congue vitae nibh. Vestibulum tempor pellentesque sapien, id elementum nunc finibus a. Sed molestie molestie imperdiet. Ut tincidunt hendrerit gravida. Fusce sit amet tempor enim, sed rhoncus augue. Quisque consequat, tortor vel maximus accumsan, turpis enim ullamcorper sapien, eget eleifend eros neque mattis orci. Aliquam erat volutpat. In vel bibendum massa. Pellentesque condimentum accumsan dui. Sed elit elit, posuere sit amet tincidunt et, tincidunt quis augue. Aliquam sit amet finibus tellus.
    </p>

</div>