<div class="container">

    <h5 class="cart-title mb-4">Substitution</h5>

</div>


<div class="container text-plain">

    <p>
        Occasionally, substitutions may be necessary to create your bouquet due to the availability of certain flowers in various parts of the country. Care is taken to maintain the style, theme and color scheme of the arrangement, using flowers of equal value. Additionally, the substitution of certain keepsake items may be necessary due to increased demand, especially during major holidays. In single-flower arrangements, such as an all rose bouquet, or orchids, we will make every attempt to match the flower type, but may substitute with another color.
    </p>
    <p>
        Flowers delivered by a courier are available for delivery within US only. Vase not included unless otherwise stated. The delivery fee is from 5$ for this item.
    </p>
    <p>
        "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
    </p>

</div>