<div class="container">

    <h5 class="cart-title mb-4">Suggestions</h5>

</div>


<div class="container text-plain">
    <p>
        The most common way to make a suggestion is to use the modal "should". ...
        Another common way to give a suggestion or recommendation is to use the word "could". ...
        Look at the difference between "should" and "could". ...
        We can also use some questions to make a suggestion or recommendation in an indirect way.
    </p>
    <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
    </p>
    <p>
        Nullam ultricies elementum rutrum. Aenean sed tellus eu libero semper accumsan. Donec laoreet, lacus sed ultricies cursus, enim leo euismod nunc, ut molestie orci eros a arcu. Donec pretium neque purus, euismod porta tortor dapibus sed. Quisque lorem massa, consequat imperdiet malesuada vitae, dictum vulputate arcu. Phasellus sit amet tempus nunc. Cras tempor, nibh a rutrum maximus, eros velit vehicula metus, eget dictum diam justo in risus. Fusce sit amet tempor enim, sed rhoncus augue. Quisque consequat, tortor vel maximus accumsan, turpis enim ullamcorper sapien, eget eleifend eros neque mattis orci. Aliquam erat volutpat. In vel bibendum massa.
    </p>
    <p>
        Sed auctor ullamcorper nisl, non consequat nibh dignissim quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ultricies ligula nec porttitor dignissim. Praesent rutrum lectus sed nulla vulputate, in vestibulum dolor pellentesque. Nullam vulputate suscipit ligula, ac condimentum enim euismod et. Proin vel justo sed turpis mollis tincidunt eu lacinia metus. Suspendisse accumsan est quis auctor fermentum. Sed at leo odio.
    </p>

</div>