.banner {
  position: relative;
  overflow: hidden;
  height: $banner-height;
}

.banner-background-wrapper {
  /*overflow: hidden;*/
}

.banner-overlay-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.banner-bg-content {
  //height: 400px;
  height: $banner-height;
  background: url(../img/banner.jpg) no-repeat center/cover;
  transition: transform 4s ease-in-out;
}

@include media-breakpoint-down(sm) {
  .banner-bg-content {
    display: none;
  }
}

.banner:hover .banner-bg-content {
  //transform: scale(1.08) translateX(-2rem);
  transform: scale(1.08);
  transition: transform 3s ease-in-out;
}

.banner-logo {
  display: flex;
  height: 3rem;
  align-items: center;
  margin: 3rem 0 1rem 0;
}

.banner-heading {
  color: $dark-3;
  line-height: 1.4;
}

.banner-text {
  color: $dark-1;
  line-height: 1rem;
}

.banner-video-wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: none;
}

.banner-video{
  //position: fixed;
  object-fit: cover;
  width: 100%;
  height: $banner-height;
  z-index: -1;
}

@include media-breakpoint-down(sm) {
  .banner-video-wrapper {
    display: block;
  }
}
