* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

// кнопки
.btn.custom-btn {
  background: $light-1;
  color: $dark-1;
  border: 1px solid $dark-2;
}

.btn-banner {
  width: 8rem;
  margin: 1.4rem 0 .5rem 0;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: $dark-3;
  color: white;
  border-color: $dark-2;
  box-shadow: 0 0 .3rem rgb(255, 33, 211);
}

.form-control {
//  border-right: none !important;
  border-color: $dark-2 !important;
}

.form-control::placeholder {
  color: $dark-2;
  text-overflow: ellipsis; /* сокращает текст placeholder */
}

//.btn-search {
//  width: 2.5rem;
//  color: $dark-1;
//  border-left: none;
//  background: none;
//  border-color: $dark-2;
//  transition: all .4s ease-in-out;
//}

.btn.btn-accordion {
  width: 100%;
  background: none;
  color: $dark-1;
  border: none;
}

.btn.btn-accordion:focus,
.btn.btn-accordion:hover {
  color: $dark-2;
  box-shadow: none;
}

.table {
  color: $dark-1;
}

.text-plain {
  color: $dark-1;
}

.form-control:disabled {
  background-color: $light-3;
}

@media (max-width: 420px) {

}

@media (max-width: 530px) {

}

@media (max-width: 767px) {

}

@media (max-width: 991px) {

}


