.modal {
    color: $dark-3;
}

.modal-content {
    background-color: rgba(220, 220, 220, 0.75);
}

.modal-body {
    background-color: #fff;
}

.modal-logo {
    padding-top: 1.6rem;
    text-align: center;
}

.modal-form {
    padding: 1.5rem 2.5rem 1rem;
}

.modal-check {
    padding-bottom: 2.5rem;
}

