.sort {
  background-color: $light-3;
  padding-bottom: .5rem;
}

.sort-color-circle {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  vertical-align: bottom;
}

.sort-white {
  background-color: #F5F5F5;
}
.sort-blue {
  background-color: #82BAFA;
}
.sort-orange {
  background-color: #FFCC66;
}
.sort-green {
  background-color: #66CC99;
}
.sort-red {
  background-color: #FF6666;
}
.sort-pink {
  background-color: #FFCCCC;
}
.sort-rose {
  background-color: #FF6699;
}
.sort-purple {
  background-color: #CC99FF;
}